.container {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.iframe {
  aspect-ratio: 16/9;
  width: 80%;
  height: 90%;
}

.videoTitle {
  margin-top: 12px;
  font-size: 20px;
}

.videoInfoContainer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  align-items: center;
}

.videoImg {
  display: flex;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
}

.channelImg {
  display: block;
  width: 32px;
  height: 32px;
  background-color: gray;
  border-radius: 50%;
  z-index: 1;

  &:hover {
    background-color: #dadada;
  }

  .hiddenText {
    width: 0;
    height: 10px;
    opacity: 0;
  }
}
